<div class="row">
    <div class="listOfUsers">
        <h1>The number of times a name has been greeted</h1>
    </div>
    

    <h2 style="position:fixed; left:15em; top:7em;">Hello, {{name}} has been greeted {{counter}} time(s)</h2>
</div>
<br>
<button class="backButton"><a href="/greeted" style="color:black">BACK</a></button>