<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/greet.css">
</head>

<body>

    <div class="greeting">
        <h1>GREETING</h1>
    </div>
    <p class="sentence">Please enter a name and select a language in order to be greeted in the language selected</p>
    <h3 class="entry"> {{messages.errors}}</h3>
    <div class="body-content">
        
        <form action="/greet" method="POST">
            <label for="name">Name</label>
            <input type="text" placeholder="" name="name" class="names">
            <p id="counter" name="counter"
                style="font-size: 150%;  font-weight: bolder; float: right clearfix; margin-left: 10em; margin-top: -1em">
                Counter: <span class="greetCount">{{namesGreeted}}</span></p>

            <div class="block">
                <input type="radio" name="languages" class="radioEnglish" value="English"><br>
                <span class="label">English</span>

                <input type="radio" name="languages" class="radioXhosa" value="IsiXhosa"><br>
                <span class="label">IsiXhosa</span>

                <input type="radio" name="languages" class="radioSotho" value="Sesotho"><br>
                <span class="label">Sesotho</span>
            </div>

            <button class="greetButton" type="submit" name="button">Greet Me</button>
            <button class="usersButton"><a href="/greeted" style="color:black">Names Greeted</a></button>
        </form>
    </div>
    <br>
    <div class="greetings">{{greet}}</div>
    <br>
     <form action="/reset" method="POST">
        <button class="resetButton" type="submit" name="button">Reset</button>
    </form>

</body>

</html>