<div class="row">
    <h1>A list of users greeted</h1>
<ul>
        
    {{#each greeting}}
    
        <h2><a href="/greeted/{{@key}}" style="color:black">{{@key}}</a></h2>
    
    {{/each}} 
</ul>
   
</div>
 