<div class="row">
    <div class="listOfUsers">
        <h1>A list of names greeted</h1>
    </div>
    
<ul style="position:fixed; left:30em; top:7em;">
        
    {{#each greeting}}
    
        <h2><a href="/greeted/{{@key}}" style="color:black;">{{@key}}</a></h2>
    
    {{/each}} 
</ul>
<br>
<button class="backButton"><a href="/" style="color:black">BACK</a></button>
   
</div>
 